*{
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Serif', serif;
    box-sizing: border-box;
}

.Home{
    /* width: 100%; */
    height: 100vh;
    background-image: linear-gradient(to right bottom, #00c59c, #00a78e, #04897c, #196c67, #225050, #2f5453, #3a5757, #455b5a, #62817b, #82a89b, #a8d1ba, #d3fbd8);
}
/*Zona del css de las olas*/
.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url(wave.png) ;
    background-size: 1000px 100px;
}
.wave.wave1{
    animation: wave 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
.wave.wave2{
    animation: wave2 15s linear infinite;
    z-index:999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
.wave.wave3{
    animation: wave 30s linear infinite;
    z-index:998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}
.wave.wave4{
    animation: wave2 5s linear infinite;
    z-index:997;
    opacity: 0.7;
    animation-delay: -2s;
    bottom: 20px;
}
@keyframes wave {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;

    }
}
@keyframes wave2 {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1000px;

    }
}
/* /-/-/-/-/-/-/-/-/-/-/-/-/-/-/ */

/*Zona NavBar*/
.Container{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    position: static;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: none;
    padding: 16px 32px;
}

.Hamburgesa{
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.Hamburgesa span{
    display: block;
    height: 4px;
    width: 33px;
    margin-bottom: 5px;
    position: relative;

    background-color: white;
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
}

.Hamburgesa:hover span:nth-child(odd) {
    transform: translate(10px);
    background:#faf8f9;
}

.Menu{
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}
.Menu a{
    color: #faf8f9;
    margin: 0px 16px;
    font-weight: 900;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
}
.Menu a:hover{
    color: #92c5c8;
    transform: scale(1.01);
}

.Menu a.Activa{
    background-color: #92c5c8;
}
.Menu a.Activa:hover{
    color: #d25241;
}

/*Zona del contenido*/
.cover{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text{
    padding: 15px;
}

.container_cover .text h2{
    background: #d25241;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#92c5c8,#d25241);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #92c5c8, #d25241);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
    font-size: 60px;
    text-transform: uppercase;
    margin: 10px 0px;
    font-weight: 700;
}
.parrafo,.footer{
    color: #faf8f9;
    padding: 5px 0px;
    
}
.parrafo{
    font-size: 20px;
    font-weight: 500;
}
.footer{
    font-size: 14px;
    font-weight: 900;
}


.container_cover .text input{
    width: 350px;
    height: 40px;
    background: #d25241;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#92c5c8,#d25241);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #92c5c8, #d25241);
    color: #232d2e;
    border-radius: 6px;
    margin: 5px 0px;
    border: none;
    text-align: center;
    outline: none;
}

.container_cover .text input:focus{
    border: 2px solid #92c5c8;
    transform: scale(1.05);
}

.container_cover .text button{
    color: #232d2e;
    width: 150px;
    margin: 0px 40px;
    background-color: #92c5c8;
    border-radius: 6px;
    border: none;
    outline: none;
    transition: 0.5s;
}

.container_cover .text button:hover{
    transform: scale(1.09);
}

.footer{
    font-size: 10px;
}

.container_cover .img img{
    width: 600px;
    margin: 7px 15px;
    animation: ImgMove 3s  linear infinite;
}
/* Secion de cursos online */
.container_cursos{
    min-height: 100vh;
    background-image: linear-gradient(to right top, #121212, #0e0e0e, #0a0a0a, #050505, #000000);
    padding-top: 30px;
}
.container_cursos h1,.Profesores h2 {
    background: #d25241;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#92c5c8,#d25241);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #92c5c8, #d25241);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    
}

.enunciado,.enunciadoProfe{
    color: white;
    text-align: center;
    margin: 20px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .card {
  position: relative;
  height: 310px;
  width: 470px;
  box-shadow: inset 5px 5px 5px #00000033,
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px #0000004d, -5px -5px 15px #ffffff1a;
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

 .container .card:nth-child(1) .box .content a {
  background: #2196f3;
}

 .container .card:nth-child(2) .box .content a {
  background: #e91e63;
}

 .container .card:nth-child(3) .box .content a {
  background: #23c186;
}
.container .card:nth-child(4) .box .content a{
    background-image: linear-gradient(to right top, #2196f3, #8180ea, #ba62cc, #de3e9d, #e91e63);
}
.container .card:nth-child(5) .box .content a {
    background-image: linear-gradient(to right top, #e91e63, #dd5e27, #b48c00, #7dab3b, #23c186);
}
.container .card:nth-child(6) .box .content a {
    background-image: linear-gradient(to right top, #2196f3, #00a8f0, #00b5d7, #00bdb1, #23c186);
}

.container .card:nth-child(7) .box .content a {
    background-image: linear-gradient(to right top, #2196f3, #8180ea, #ba62cc, #de3e9d, #e91e63);
}
.container .card:nth-child(8) .box .content a {
    background: #e91e63;;
}



 .container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

 .container .card .box:hover {
  transform: translateY(-50px);
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

 .container .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #ffffff08;
}

 .container .card .box .content {
  padding: 20px;
  text-align: center;
}

 .container .card .box .content h2 {
  position: absolute;
  top: 3px;
  right: 30px;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.1);
}
 .container .card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
  margin-top: 5px;
}

 .container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.container .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}
.container .card .box .content img:hover {
    animation: shake 0.5s infinite;
}

/*Secion del profesores*/
.Profesores{
    min-height: 60vh;
    background-image: linear-gradient(to right top, #000000, #16000d, #1f021b, #20072c, #130f40);
    padding-top: 20px;
}
.boxCardProfes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 14px;
}

.CardProfes {
    width: 500px;
    height: 320px;
    display: flex;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 5px 10px rgb(238, 236, 236);
    border-radius: 10px;
    margin: 15px 14px;
    transition: 0.1s;
}

.CardProfes:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 20px white;
    /* animation: shake 0.5s infinite; */
}

.img-card {
    width: 40%;
    height: 100%;
}
.img-card1{
    background: url("https://i.pinimg.com/564x/76/fb/c0/76fbc0e69dd078e20ec7f30deb02ca3d.jpg");
    background-size: cover;
}
.img-card2{
    background: url("https://i.pinimg.com/564x/0a/7c/14/0a7c140e64e8dc3a81db4e9aff5df12b.jpg");
    background-size: cover;
}



.CardProfes .content {
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-rows: 50px 150px 50px;
    padding: 10px 15px;
}

.CardProfes .content .title h3 {
    color: #026e5e;
}

.CardProfes .content .title span {
    color: #0089ba;
    font-size: 12px;
}

.CardProfes .content .text p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
}

/*Seccion del Footer*/
.FooterPage{
    height: 60vh;
    background-image: linear-gradient(to left, #000000, #120c10, #19161c, #1c1e29, #1a2836);
}
/*Animaciones*/


@keyframes ImgMove {
    0%{
        transform: translateY(30px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(30px);
    }   
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
/*Media screen*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
    .container_cover .img img{
        display: none;
    }
    .container_cover .text h2{
        font-size: 50px;
    }
    .container .card .box .content img {
        width: 65px;
    }

    .container .card .box .content p {
        font-size: 14px;
    }

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
    .container_cover .img img{
        width: 200px;
    }
    .container_cover .text h2{
        font-size: 35px;
    }

}/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
    .container_cover .img img{
        width: 300px;
    }
    .Hamburgesa{
        display: none;
    }

    .Menu{
        display: flex;
    }

    .container_cover .text h2{
        font-size: 45px;
    }
}/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){
    .container_cover .img img{
        width: 500px;
    }
}/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){
    .container_cover .img img{
        width: 600px;
    }
    .container_cover .text h2{
        font-size: 60px;
    }
}